[Unit]
Description=AST Hotline sending
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/python /fumbblplus/altdorf_sport_telegraph/ast.py
User=adam

[Install]
WantedBy=multi-user.target
